{% extends "estado/base.html" %}

{% block titulo %}
Listagem de Estado
{% endblock titulo %}

{% block conteudo %}
<div class="card">
    <div class="card-header">
        Dados do Estado
    </div>
    <div class="card-body">
        <h5 class="card-title">Nome: {{ estado.nome_estado }}</h5>
        <h5 class="card-title">Sigla: {{ estado.sigla_estado }}</h5>
    </div>
    <div class="form-group">
        <a href="{% url 'listar_pais' %}" class="btn btn-primary">Inicio</a>
        <a href="{% url 'listar_estado' %}" class="btn btn-primary">Voltar</a>
    </div>
</div>
{% endblock conteudo %}